/target
.antigravitycli/
.claude/
.rubund_global_cache/
.rubund_project_gems/
crates/rubyrs/examples/hello-cext/hello.so
crates/rubyrs/examples/hello-cext/hello.bundle
crates/rubyrs/examples/hello-cext/hello.dll
crates/rubyrs/examples/bcrypt-cext/bcrypt_ext.so
crates/rubyrs/examples/bcrypt-cext/bcrypt_ext.bundle
crates/rubyrs/examples/bcrypt-cext/bcrypt_ext.dll
crates/rubyrs/examples/self-cext/self_test.so
crates/rubyrs/examples/self-cext/self_test.bundle
crates/rubyrs/examples/self-cext/self_test.dll
crates/rubyrs/examples/callback-cext/callback_ext.so
crates/rubyrs/examples/callback-cext/callback_ext.bundle
crates/rubyrs/examples/callback-cext/callback_ext.dll
crates/rubyrs/examples/raise-cext/raise_ext.so
crates/rubyrs/examples/raise-cext/raise_ext.bundle
crates/rubyrs/examples/raise-cext/raise_ext.dll
crates/rubyrs/examples/counter-cext/counter_ext.so
crates/rubyrs/examples/counter-cext/counter_ext.bundle
crates/rubyrs/examples/counter-cext/counter_ext.dll
